.main-page {
    background-image: url('./assets/fon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1520px;
    height: 780px;
}

.branch {
    background-image: url('./assets/picture.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 690px;
    height: 450px;
}
