.wrapper {
    margin-left: 20px;
}

.title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #05566A;  
}   

.history p{
    font-size: 16px;
    color: rgba(74, 74, 74, 0.45);
    font-weight: 500;
}

