.container {
    width: 1450px;
}

.footer {
    display: flex;
}

.first-footer {
    font-weight: 500;
    font-size: 48px;
    color: #05566A;
    margin: 20px 0 0 780px;
}

.second-footer {
    font-weight: 500;
    font-size: 48px;
    color: #84B23E;
    margin: 20px 0 0 14px;
}

.list-input {
    margin: 45px 0 0 750px;
}

.list-input li {
    list-style-type: none;
}

.list-input li:not(:first-child) {
    margin-top: 25px;
}

.list-input li input {
    padding-left: 10px;
    width: 480px;
    height: 50px;
    outline: none;
    background: #FFFFFF;
    border: 2px solid rgba(74, 74, 74, 0.2);
    border-radius: 16px;
    box-shadow: 3px 9px 9px rgba(0, 0, 0, 0.25);
    font-size: 15px;
}

.list-input li input:focus {
    border: 3px solid #84B23E;
    box-shadow: 3px 9px 9px rgba(0, 0, 0, 0.414);
}

.regis {
    color: #84B23E;
    margin: 35px 0 0 1020px;
    cursor: pointer;   
}

.regis:hover{
    color: #465f20;
}

.create-account {
    width: 495px;
    height: 40px;
    background: #84B23E;
    border-radius: 16px;
    margin: 8px 0 0 750px;
    box-shadow: 3px 9px 9px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.862);
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
}

.create-account:hover {
    background: #739d33;
    box-shadow: 3px 7px 9px rgba(58, 58, 58, 0.478);
}

.text {
    color: #84B23E;
    margin: 10px 0 0 940px;
    font-size: 12px;
}