
.title{
    color: #05566A;
    font-weight: 600;
    font-size: 20px;
    margin: 150px 0 0 340px;
}

.text-input {
    padding-left: 10px;
    width: 450px;
    height: 50px;
    outline: none;
    background: #FFFFFF;
    border: 2px solid rgba(74, 74, 74, 0.2);
    border-radius: 16px;
    box-shadow: 3px 9px 9px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    margin: 20px 0 0 250px;
}

.text-input:focus {
    border: 3px solid #ffe819;
}

.check{
    width: 150px;
    height: 30px;
    background: #FFF319;
    border-radius: 18px;
    margin: 18px 0 0 410px;
    box-shadow: 3px 9px 9px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 18px;
    color: #4A4A4A;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.check:hover{
    background: #ffe819;
}