.header {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    font-size: 40px;
    color: #05566A;
    margin: 10px 0 0 38px;
}

.flex {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 19px;
    color: rgba(74, 74, 74, 0.72);
    margin-top: 20px;
}

.flex p:not(:last-child) {
    padding-right: 65px;
    cursor: pointer;
}

.about-us{
    margin: 5px 65px 0 0;
    color: rgba(74, 74, 74, 0.72);
}

.about-us:hover{
    color: #05566A;
}

.signup-btn{
    background: #FFF319;
    border-radius: 20px;
    padding: 5px 35px 6px 35px;
    margin-bottom: auto;
    color: #4A4A4A;
    font-size: 19px;
    box-shadow: 3px 9px 9px rgba(0, 0, 0, 0.25);
    font-weight: 600;
}

.signup-btn:hover {
    background: #ffe819;
    box-shadow: 3px 9px 9px rgba(58, 58, 58, 0.685);
}

.call {
    background-image: url('./assets/call.svg');
    width: 23px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 7px 0 0 65px;
    cursor: pointer;
}

.num{
    margin: 6px 0 0 4px;
    font-size: 17px;
}

.num:hover{
    color: #05566A;
}

